div.home {
  position: relative;
  display: flex;
  place-items: center;

  div.overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image:
      linear-gradient(to right, transparent 70%, var(--background-color)),
      linear-gradient(180deg, transparent 80%, var(--background-color)),
      var(--home-background-image-url);

    opacity: 0.7;

    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  div.wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    place-items: center;
  }

  h1,
  h2 {
    margin: 0 15px 15px 0;
    user-select: none;
  }

  img {
    width: 50%;
    height: auto;
    opacity: var(--home-image-opacity);
  }

  div.logo {
    width: 50%;
    margin-left: -1%;

    img {
      width: 100%;
    }
  }

  // @media (max-width: 1440px) {
  //   img {
  //     width: 40%;
  //   }
  // }

  @media (max-width: 660px) {
    div.wrapper {
      flex-direction: column;
      height: 80%;
      justify-content: center;
      gap: 5em;
    }

    div.logo {
      margin: 5% auto;
    }

    img {
      width: 70%;
    }

    div.buttons {
      margin: 5% auto;
      width: fit-content;
    }

    h1 {
      text-align: center;
    }
  }
}